[Desktop Entry]
Type=Application
Name=SudokuFX-JVM
Exec=/opt/sudokufx-jvm/bin/SudokuFX-JVM
Icon=/opt/sudokufx-jvm/lib/SudokuFX-JVM.png
Categories=Game;
StartupWMClass=fr.softsf.sudokufx.SudoMain
Terminal=false
