@font-face {
    -fx-font-family: 'Luciole';
    src: url('../fonts/luciole/lucioleregular.ttf');
}

@font-face {
    -fx-font-family: 'Luciole Bold';
    src: url('../fonts/luciole/luciolebold.ttf');
}

@font-face {
    -fx-font-family: 'Luciole Italic';
    src: url('../fonts/luciole/lucioleregularitalic.ttf');
}

@font-face {
    -fx-font-family: 'Material Icons Round Regular';
    src: url('../fonts/material/materialiconsroundregular.otf');
}

.bold-text {
    -fx-font-family: 'Luciole Bold';
    -fx-font-weight: bold;
    -fx-fill: #333333;
}

.italic-text {
    -fx-font-family: 'Luciole Italic';
    -fx-font-style: italic;
    -fx-fill: #333333;
}

.material {
    -fx-font-family: 'Material Icons Round Regular';
    -fx-font-size: 1.28em;
    -fx-line-spacing: 1.5;
    -fx-fill: #000000;
    -fx-text-fill: #000000;
}

.root,
.menuList .list-cell,
.color-picker .label,
.color-palette .hyperlink,
.custom-color-dialog .controls-pane Text,
.custom-color-dialog .controls-pane Label,
.custom-color-dialog .controls-pane Button,
.custom-color-dialog .controls-pane TextField {
    -fx-font-family: 'Luciole';
    -fx-font-size: 1em;
    -fx-line-spacing: 1.5;
    -fx-fill: #000000;
    -fx-text-fill: #000000;
}

#spinner {
    -fx-background-color: transparent;
}

.spinner-text {
    -fx-font-family: 'Material Icons Round Regular';
    -fx-font-size: 12em;
    -fx-line-spacing: 1.5;
    -fx-fill: radial-gradient(center 50% 50%, radius 100%,
            white 40%,
            #66b6f1 41%);
}

.tooltip {
    -fx-font-family: 'Luciole';
}

.button,
.scroll-bar,
.list-view {
    -fx-cursor: hand;
}

.sudokuFXGridPaneContainer {
    -fx-pref-width: 27.9em;
    -fx-max-width: 27.9em;
    -fx-min-width: 27.9em;
    -fx-pref-height: 27.9em;
    -fx-max-height: 27.9em;
    -fx-min-height: 27.9em;
    -fx-background-color: transparent;
}

.sudokuFXGridCell {
    -fx-pref-width: 3.02em;
    -fx-pref-height: 3.02em;
    -fx-min-width: 3.02em;
    -fx-min-height: 3.02em;
    -fx-max-width: 3.02em;
    -fx-max-height: 3.02em;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-alignment: center;
    -fx-font-size: 1em;
    -fx-text-alignment: center;
    -fx-content-display: text-only;
    -fx-line-spacing: -.6em;
    -fx-padding: -.1em;
    -fx-text-overrun: clip;
    -fx-wrap-text: false;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-text-fill: black;
}

.sudokuFXGridCellNonEditable {
    -fx-pref-width: 3.02em;
    -fx-pref-height: 3.02em;
    -fx-min-width: 3.02em;
    -fx-min-height: 3.02em;
    -fx-max-width: 3.02em;
    -fx-max-height: 3.02em;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-alignment: center;
    -fx-font-size: 1em;
    -fx-text-alignment: center;
    -fx-content-display: text-only;
    -fx-line-spacing: -.6em;
    -fx-padding: -.1em;
    -fx-text-overrun: clip;
    -fx-wrap-text: false;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label.sudokuFXGridCell:focused,
.label.sudokuFXGridCellNonEditable:focused {
    -fx-border-color: radial-gradient(center 50% 150%, radius 100%, derive(#0C8CE9, -90%), derive(#0C8CE9, 55%));
}

.sudokuFXGridCellLargeFont {
    -fx-font-size: 2.63em;
    -fx-pref-width: 1.14em;
    -fx-pref-height: 1.14em;
    -fx-min-width: 1.14em;
    -fx-min-height: 1.14em;
    -fx-max-width: 1.14em;
    -fx-max-height: 1.14em;
}

.text-area.sudokuFXGridCell {
    -fx-control-inner-background: transparent;
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-area.sudokuFXGridCell .content {
    -fx-alignment: center;
    -fx-padding: 0.05em 0.4em 0.05em 0.4em;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-area.sudokuFXGridCell .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.text-area.sudokuFXGridCell .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.text-area.sudokuFXGridCell:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.button:focused {
    -fx-border-width: .2em;
    -fx-border-insets: -.2em;
    -fx-border-color: radial-gradient(center 50% 150%, radius 100%, derive(#0C8CE9, -90%), derive(#0C8CE9, 55%));
}

.menuList .scroll-bar {
    -fx-background-color: transparent;
}

.menuList .scroll-bar .thumb {
    -fx-background-radius: .9em;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: black;
}

.scroll-bar>.decrement-button {
    -fx-padding: .8em .25em 0.5em .25em;
    -fx-background-radius: 0 1.5em 0 0;
    -fx-translate-y: .05em;
}

.scroll-bar>.increment-button {
    -fx-padding: 0.5em .25em .8em .25em;
    -fx-background-radius: 0 0 1.5em 0;
    -fx-translate-y: -.05em;
}

.menuList {
    -fx-background-color: transparent;
}

.menuList .viewport {
    -fx-background-color: transparent;
}

.menuList .list-view {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 1em;
}

.menuList .list-view:focused {
    -fx-background-insets: 0;
}

.menuList .list-cell {
    -fx-background-color: transparent;
    -fx-border-width: .2em;
    -fx-border-color: transparent;
    -fx-padding: 0.07em 0.5em 0.07em 0.5em;
}

.menuList .list-cell:focused {
    -fx-background-radius: 1em;
    -fx-background-color: #DDDDDD;
    -fx-border-radius: .9em;
    -fx-border-width: .2em;
    -fx-border-color: radial-gradient(center 50% 150%, radius 100%, derive(#0C8CE9, -90%), derive(#0C8CE9, 55%));
}

.color-palette .hyperlink {
    -fx-font-size: .7em;
}

.color-picker .color-picker-label .picker-color {
    -fx-padding: 0 1.07em 0 0;
    -fx-pref-height: 1em;
    -fx-max-height: 1em;
    -fx-min-height: 1em;
    -fx-pref-width: 1em;
    -fx-max-width: 1em;
    -fx-min-width: 1em;
}

.color-picker>.color-picker-label>.picker-color>.picker-color-rect {
    -fx-scale-x: .0745em;
    -fx-scale-y: .0745em;
    -fx-stroke: black;
    -fx-stroke-width: .065em;
    -fx-arc-width: .1em;
    -fx-arc-height: .1em;
}

.color-picker .color-picker-label {
    -fx-padding: 0 0 0 2.2em;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-graphic-text-gap: 0;
}

.button.defaultButton:focused,
.button.toast:focused {
    -fx-border-radius: .25em;
}

.button.menuButton:focused {
    -fx-border-radius: .9em;
    -fx-background-color: #DDDDDD;
}

.button.menuMiniButton:focused {
    -fx-border-radius: .9em 0 0 .9em;
    -fx-background-color: #DDDDDD;
}

.button.menuButtonCircle:focused {
    -fx-border-radius: 1.1em;
    -fx-background-color: #DDDDDD;
}

#sudokuFXStackPane {
    -fx-background-color: #000000;
}

#toaster {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-spacing: .5em;
    -fx-padding: 1em;
}

.toast {
    -fx-padding: .3em;
    -fx-background-radius: .2em;
    -fx-pref-width: infinity;
}

.toastInfo {
    -fx-background-color: #AAFF99;
}

.toastWarn {
    -fx-background-color: #F1FF99;
}

.toastError {
    -fx-background-color: #FEBE98;
}

#splashscreenvbox,
#crashscreenvbox {
    -fx-padding: 1em;
    -fx-background-color: radial-gradient(center 50% 150%, radius 100%, #A83449, #12020B);
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.menu {
    -fx-padding: 0.93em 0.65em 0.65em 0.65em;
    -fx-spacing: 0.79em;
    -fx-pref-height: 27.9em;
    -fx-max-height: 27.9em;
    -fx-min-height: 27.9em;
}

.menuMini {
    -fx-pref-width: 4em;
    -fx-max-width: 4em;
    -fx-min-width: 4em;
    -fx-translate-x: -.35em;
}

.menuButton {
    -fx-pref-width: 12.5em;
    -fx-max-width: 12.5em;
    -fx-min-width: 12.5em;
    -fx-pref-height: 1.64em;
    -fx-padding: 0;
    -fx-background-radius: .8em;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.menuMiniButton {
    -fx-pref-width: 4em;
    -fx-max-width: 4em;
    -fx-min-width: 4em;
    -fx-pref-height: 1.64em;
    -fx-padding: 0;
    -fx-background-radius: .8em 0 0 .8em;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.subMenuOpened {
    -fx-background-color: #DDDDDD;
}

.colorEasy,.colorEasySelected:selected {
    -fx-background-color: #AAFF99!important;
}

.colorMedium,.colorMediumSelected:selected {
    -fx-background-color: #F1FF99!important;
}

.colorDifficult,.colorDifficultSelected:selected {
    -fx-background-color: #FEBE98!important;
}

.colorResolve {
    -fx-background-color: #99FFFF!important;
}

.colorError {
    -fx-background-color: #E7CCFF;
}

.menuHBoxContainer {
    -fx-spacing: .35em;
    -fx-padding: 0 0 0 .3em;
    -fx-pref-width: 12.5em;
    -fx-max-width: 12.5em;
}

.menuMaxiHBoxContainer {
    -fx-spacing: .35em;
    -fx-pref-width: 14.5em;
    -fx-max-width: 14.5em;
    -fx-min-width: 14.5em;
}

.menuButtonCircle {
    -fx-pref-width: 1.64em;
    -fx-max-width: 1.64em;
    -fx-min-width: 1.64em;
    -fx-pref-height: 1.64em;
    -fx-max-height: 1.64em;
    -fx-min-height: 1.64em;
    -fx-padding: 0;
    -fx-background-radius: 1em;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-text-fill: black;
    -fx-font-size: 1em;
}

.menuClose {
    -fx-rotate: -180;
}

.menuDropdownOpen {
    -fx-translate-y: .03em;
    -fx-font-size: .91em;
    -fx-rotate: -90;
    -fx-pref-width: 1.02em;
    -fx-max-width: 1.02em;
    -fx-min-width: 1.02em;
}

.menuDropdownClose {
    -fx-translate-y: .03em;
    -fx-font-size: .91em;
    -fx-rotate: 90;
    -fx-pref-width: 1.02em;
    -fx-max-width: 1.02em;
    -fx-min-width: 1.02em;
}

.menuHBoxLeftContainer {
    -fx-spacing: .35em;
    -fx-padding: 0 0 0 .3em;
    -fx-pref-width: 8em;
    -fx-max-width: 8em;
    -fx-min-width: 8em;
}

.menuHBoxRightContainer {
    -fx-pref-width: 4.5em;
    -fx-max-width: 4.5em;
    -fx-min-width: 4.5em;
}

.menuButtonLevelBackground {
    -fx-pref-height: 1.25em;
    -fx-max-height: 1.25em;
    -fx-min-height: 1.25em;
}

.menuButtonLevelStar {
    -fx-font-size: .8em;
}

.menuButtonLevelStar1 {
    -fx-translate-x: 0;
}

.menuButtonLevelStar2 {
    -fx-translate-x: -0.2em;
}

.menuButtonLevelStar3 {
    -fx-translate-x: -0.4em;
}

.menuButtonLevelStar4 {
    -fx-translate-x: -0.6em;
}

.menuButtonLevelStar5 {
    -fx-translate-x: -0.8em;
}

.menuButtonLabelIso {
    -fx-font-size: .88em;
}

.menuButtonLabel {
    -fx-padding: 0;
    -fx-max-width: 9em;
    -fx-text-overrun: ellipsis;
    -fx-background-color: transparent;
}

.submenuIndentation {
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-width: 0;
    -fx-pref-height: 1.64em;
    -fx-max-height: 1.64em;
    -fx-min-height: 1.64em;
    -fx-padding: 0;
}

.menuList {
    -fx-pref-width: 13.35em;
    -fx-max-width: 13.35em;
    -fx-min-width: 13.35em;
    -fx-padding: 0;
}

#menuPlayerListView,
#menuSaveListView {
    -fx-pref-height: 18.75em;
    -fx-max-height: 18.75em;
    -fx-min-height: 18.75em;
}

.menuListLineContainer {
    -fx-alignment: center-left;
    -fx-spacing: .4em;
    -fx-padding: 0;
}

.menuListLineButton,
.menuListLineButton:focused {
    -fx-pref-width: 1em;
    -fx-min-width: 1em;
    -fx-max-width: 1em;
    -fx-pref-height: 1em;
    -fx-min-height: 1em;
    -fx-max-height: 1em;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}
